<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h1>View Blog</h1>
<h2>
    <a th:href="@{/}">
        Back to blog list
    </a>
</h2>
<div id="detail">
    <table>
        <tr>
            <td>Id: </td>
            <td th:text="${blog.id}"></td>
        </tr>
        <tr>
            <td>Name: </td>
            <td th:text="${blog.title}"></td>
        </tr>
        <tr>
            <td>Content: </td>
            <td th:text="${blog.content}"></td>
        </tr>
    </table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>