<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header">
    <meta charset="UTF-8">
    <title>create_customer</title>
</head>
<body>
<h1>Create Customer</h1>
<form th:action="@{/customer/save}" method="post" th:object="${customer}">

    <div class="form-group">
        <label>STT</label>
        <input type="text" th:field="*{id}" class="form-control" disabled aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>ID Loại Khách</label>
        <select th:field="*{customerType}">
            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Tên</label>
        <input type="text" th:field="*{name}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Ngày sinh</label>
        <input type="date" th:field="*{birthday}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label >Giới tính<span>*</span></label>
        <input type="radio"  th:field="*{gender}" value="Male"> Male
        <input type="radio"  th:field="*{gender}"  value="Female"> Female
        <input type="radio"  th:field="*{gender}"  value="Other"> Other
    </div>
    <div class="form-group">
        <label>CMND</label>
        <input type="text" th:field="*{idCard}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" th:field="*{phone}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" th:field="*{email}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" th:field="*{address}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <button class="bullet-button btn-warning" type="submit">Xong</button>
</form>
</body>
</html>