<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header}">
    <meta charset="UTF-8">
    <title>edit_employee</title>
</head>
<body>
<div class="container">
<h1>Chỉnh sửa thông tin</h1>
<form method="post" th:action="@{/customer/edit}" th:object="${editCus}" >
    <input type="hidden" th:field="*{id}">
    <div class="form-group">
        <label>Mã khách hàng</label>
        <input type="text" th:field="*{code}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
        <p class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
    </div>
    <div class="form-group">
        <label>Loại Khách</label>
        <select th:field="*{customerType}" class="form-control">
            <option th:each="editType : ${customerTypes}" th:value="${editType.id}" th:text="${editType.name} ">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Tên</label>
        <input type="text" th:field="*{name}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Ngày sinh</label>
        <input type="date" th:field="*{birthday}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label >Giới tính<span>*</span></label>
        <input type="radio"  th:field="*{gender}" value="Male"> Male
        <input type="radio"  th:field="*{gender}"  value="Female"> Female
        <input type="radio"  th:field="*{gender}"  value="Other"> Other
    </div>
    <div class="form-group">
        <label>CMND</label>
        <input type="text" th:field="*{idCard}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
        <p class="text-danger" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" th:field="*{phone}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
        <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" th:field="*{email}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
        <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" th:field="*{address}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <button class="bullet-button btn-warning" type="submit">Xong</button>
</form>
</div>
</body>
</html>