<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout:: header">
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<h1>Update</h1>
<form action="/product/edit" method="post" th:object="${productEdit}">
    <table>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Giá</th>
        </tr>
        <tr>
            <td>
                <input type="text" th:field="*{id}" readonly>
            </td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
            <td>
                <input type="text" th:field="*{price}">
            </td>
        </tr>
    </table>
    <button>Update</button>
</form>
</body>
</html>