<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header}">
    <meta charset="UTF-8">
    <title>create_employee</title>
</head>
<body>
<h1>Create Employee</h1>
<form th:action="@{/employee/save}" method="post" th:object="${employee}">

    <div class="form-group">
        <label>STT</label>
        <input type="text" th:field="*{id}" class="form-control" disabled aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Tên</label>
        <input type="text" th:field="*{name}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Ngày sinh</label>
        <input type="date" th:field="*{birthday}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>CMND</label>
        <input type="text" th:field="*{idCard}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Lương</label>
        <input type="text" th:field="*{salary}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" th:field="*{phone}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" th:field="*{email}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" th:field="*{address}" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter content">
    </div>
    <div class="form-group">
        <label>Vị trí</label>
        <select th:field="*{position}">
            <option th:each="po : ${position}" th:value="${po.id}" th:text="${po.name}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Trình độ</label>
        <select th:field="*{educationDegree}">
            <option th:each="e : ${education}" th:value="${e.id}" th:text="${e.name}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Bộ phận</label>
        <select th:field="*{division}">
            <option th:each="d : ${division}" th:value="${d.id}" th:text="${d.name}">
            </option>
        </select>
    </div>
    <button class="bullet-button btn-warning" type="submit">Xong</button>
</form>
<footer th:replace="~{layout::header}"></footer>
</body>
</html>