<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header}">
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<h1>NHÂN VIÊN</h1>
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="btn btn-primary btn-sm" th:href="@{/employee/create}">ADD NEW EMPLOYEE</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<table class="table table-dark">
    <tr>
        <td>STT</td>
        <td>Tên</td>
        <td>Ngày sinh</td>
        <td>Số CMND</td>
        <td>Lương</td>
        <td>Số điện thoại</td>
        <td>Email</td>
        <td>Địa chỉ</td>
        <td>Vị trí</td>
        <td>Trình độ</td>
        <td>Bộ phận</td>
    </tr>
    <tr th:each="em : ${employeeList}">
        <td th:text="*{em.id}"></td>
        <td th:text="*{em.name}"></td>
        <td th:text="*{em.birthday}"></td>
        <td th:text="*{em.idCard}"></td>
        <td th:text="*{em.salary}"></td>
        <td th:text="*{em.phone}"></td>
        <td th:text="*{em.email}"></td>
        <td th:text="*{em.address}"></td>
        <td th:text="*{em.position.name}"></td>
        <td th:text="*{em.educationDegree.name}"></td>
        <td th:text="*{em.division.name}"></td>
        <td><a class="btn btn-outline-primary" th:href="@{/employee/{id}/edit(id=${em.id})}">Edit</a></td>
        <td>
            <button data-toggle="modal" data-target="#modalDelete"
                    th:id="${em.id}" th:data-name="${em.name}"
                    class="btn btn-warning delete">Delete</button>
        </td>
        <td><a class="btn btn-outline-primary" th:href="@{/employee/{id}/view(id=${em.id})}">View</a></td>
    </tr>
</table>

<a th:href="@{'/employee/show'(page=${employeeList.number - 1})}" th:if="${employeeList.hasPrevious()}">
    <button class="btn btn-info">Previous</button>
</a>
<span style="color: red" th:text="${employeeList.number + 1}"></span>/
<span style="color: red" th:text="${employeeList.totalPages}"></span>
<a th:href="@{'/employee/show'(page=${employeeList.number + 1})}" th:if="${employeeList.hasNext()}">
    <button class="btn btn-info">Next</button>
</a>
<br>
<a class="btn btn-primary" th:href="@{/}">Trở về trang chủ</a>

<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black">Sa thải nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: red">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" id="delete" type="button" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(document).ready(function () {
        $('.delete').click(function () {
            let tag = $(this)[0];
            document.getElementById("delete").href = "/employee/"+tag.id+"/delete";
            $("#modelId").modal('show');
        })
    })
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</html>