<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/student/layout::head}">

</head>
<body>
<form action="/blog/edit" method="post" th:object="${blog}">
    <input type="hidden"  th:field="*{id}"/>
    <div>
        <label>Name:</label>
        <input type="text"  th:field="*{title}"/>
    </div>
    <div>
        <label>Gender:</label>
        <input type="radio" th:field="*{content}" value="0" />Trinh thám
        <input type="radio" th:field="*{content}" value="1" />Thần Thoại
        <input type="radio" th:field="*{content}" value="2" />Cổ trang
    </div>
    <input type="submit" value="Edit">
</form>
</body>
</html>