<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${contractView}" style="margin-left: 30px">
    <div class="form-group">
        <label class="font-weight-bold">Id: </label>
        <input type="text" class="form-control" id="formId" readonly th:field="*{id}">
    </div>

    <div class="form-group">
        <label class="font-weight-bold">Ngày bắt đầu: </label>
        <input type="text" class="form-control" id="formName" readonly th:field="*{start}">
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Ngày kết thúc: </label>
        <input class="form-control" id="formDes" readonly th:field="*{end}">
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Số tiền cọc trước: </label>
        <input class="form-control" id="formPrice" readonly th:field="*{deposit}">
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Tổng số tiền thanh toán: </label>
        <input class="form-control" id="formDiscount" readonly th:field="*{totalMoney}">
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Nhân viên: </label>
        <input type="text" class="form-control" id="formLId" readonly th:field="*{employee.name}">
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Khách hàng: </label>
        <input type="text" class="form-control"  readonly th:field="*{customer.name}">
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Dịch vụ: </label>
        <input type="text" class="form-control"  readonly th:field="*{service.name}">
    </div>
    <a th:href="@{/contract/show}" style="margin-left: 30px" class="btn btn-secondary" role="button">Close
    </a>
</form>
</body>
</html>